<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
  </head>

  <body>

    <header>
      <div class="container">
        <h1>Antikc</h1>
        <h2>An hp93k Community</h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <h3>

{{ content }}


    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'gitfoxi'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

<hr/>
<h3> <a name="support-or-contact" class="anchor" href="#support-or-contact"><span class="octicon octicon-link"></span></a>About Michael</h3>

<p>Check out my github: <a href="https://github.com/gitfoxi">https://github.com/gitfoxi</a></p>
      </section>
<hr/>
    </div>

<div class="container"><section id="blabla">
<h5> <a name="bla-bla" class="anchor" href="#bla-bla"><span class="octicon octicon-link"></span></a>Bla Bla</h5>
<p><mini>hp93k, hp93000, 93k, smarTest, HP, Agilent, Verigy and Advantest are probably trademarks of their respective holders. I really haven't looked into it. I'm not affiliated with any of those companies, but sometimes I get to talk with them.
<br>
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>
</mini></p>
      </section>
    </div>
    
  </body>
</html>

